@page "/admin/manage-quizes"

@using BlazingQuiz.Shared.Components.Components

@inject IQuizApi QuizApi
@inject ICategoryApi CategoryApi

<div class="container">
	<h1>ManageQuizes</h1>
	<hr />
	<div class="row">
		<div class ="col-sm-3 ms-auto">
			<label class="form-label">Выберите категорию</label>
			<select class="form-control" @bind="_selectedCategory" @bind:after = "OnSelectedCategoryChanged">
				<option value="0">Выберите категорию</option>
				@foreach (var c in _categories)
				{
					<option value="@c.Id">@c.Name</option>
				}
			</select>
		</div>
	</div>
	<div class="row">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Название</th>
					<th>Категория</th>
					<th>Количестов вопросов</th>
					<th>Время (в минутах)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (_filterdQuizes.Length == 0)
				{
					<tr>
						<td colspan="5">
							<p class="text-danger">Тесты отсутвуют</p>
						</td>
					</tr>
				}
				else
				{
					foreach (var q in _filterdQuizes)
					{
						<tr>
							<td>@q.Name</td>
							<td>@q.CategoryName</td>
							<td>@q.TotalQuestions вопросов</td>
							<td>@q.TimeInMinutes минут</td>
							<td>
								<div class="d-flex justify-content-around">
									<button type="button" class="btn btn-sm btn-info" @onclick="() => ViewQuestionsAsync(q)">Просмотреть вопросы</button>
									<button type="button" class="btn btn-sm btn-primary">Редактировать</button>
								</div>
							</td>

						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>

@if (_showQuestionsModal)
{
	<Modal Title="Вопросы" ActionButtonText="Ok" Size="ModalSize.Large"
	OnActionButtonClick="() => _showQuestionsModal = false"
	OnCancelClick="() => _showQuestionsModal = false">
		@foreach (var q in _viewingQuestions)
	{
		<div class="mb-3 shadow p-2 ">
			@q.Text
		</div>
	}
	</Modal>
}

@code {
	private QuizListDto[] _quizzes = [];
	private QuizListDto[] _filterdQuizes = [];
	private CategoryDto[] _categories = [];
	private int _selectedCategory;

	private QuestionDto[] _viewingQuestions = [];
	private bool _showQuestionsModal;

	protected override async Task OnInitializedAsync()
	{
		var quizesTask = QuizApi.GetQuizesAsync();
		_categories = await CategoryApi.GetCategoriesAsync();
		_quizzes = await quizesTask;
		_filterdQuizes = _quizzes;
	}

	private void OnSelectedCategoryChanged()
	{
		if (_selectedCategory == 0)
		{
			_filterdQuizes = _quizzes;
		}
		else
		{
			_filterdQuizes = _quizzes.Where(q => q.CategoryId == _selectedCategory).ToArray();
		}
	}

	private async Task ViewQuestionsAsync(QuizListDto q)
	{
		//Получаем вопросы из api
		_viewingQuestions = await QuizApi.GetQuizQuestionsAsync(q.Id);
		_showQuestionsModal = true;
	}
}
